#foldermaintenance
{
  position: absolute;
  top: 65px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  min-width: 700px;
  overflow: auto;
  display: none;
}

#foldermaintenance legend
{
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

#foldermaintenance td
{
  border-bottom: 1px solid #EBEBEB;
}

a.foldermaintenanceaction,
td.foldermaintenanceaction
{
  font-size: 11px;
  font-style: italic;
}

a.foldermaintenanceok
{
  color: green;
}

a.foldermaintenancewarning
{
  color: red;
}

table.quota
{
  /*border-style: dotted;*/
  width: 100%;
}

td.title
{
  background-color:#c3c3c3;
  text-align: left;
  border: 1px solid black;
}

td.text
{
  text-align: left;
  border: 1px solid black;
}

td.number
{
  text-align: right;
  border: 1px solid black;
}

td.quotafull
{
  color:red;
  text-align: left;
  border: 1px solid black;
}

td.oversize
{
  background-color:red;
  text-align: left;
  border: 1px solid black;
}

td.button
{
  text-align: center;
  border: 1px solid black;
}

