<?php

/* foldermaintenance plugin */
$rcmail_config['foldermaintenance_max_days'] = 120;
$rcmail_config['foldermaintenance_red_ratio'] = 4;

// Comma-separated folder list (Trash + sent messages)
$rcmail_config['foldermaintenance_startup_folders'] = "Trash,Sent";
?>
